[Unit]
Description=Airflow dag-processor (bullet-in)
Wants=docker.service network-online.target
After=docker.service network-online.target
OnFailure=bullet-in-fail-notify@%n.service

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/airflow
EnvironmentFile=/home/ubuntu/airflow/airflow.env
ExecStart=/home/ubuntu/airflow-venv/bin/airflow dag-processor
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
